table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
.right-menu{
    margin-left: 1000px;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
.right-menu-exit{
    margin-left: 1050px;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
.left-menu{
    font-family: 'Roboto', sans-serif;
}